<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="../vendor/datatables/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="../css/custom/dataTables-custom.css">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <!-- <div class="col-lg-5 d-none d-lg-block bg-register-image"></div> -->
          <div class="col-lg-12">
            <div class="p-5">
              <div class="text-center">
                <img style="width: 200px;height: 200px;" class="mx-5" id="img-accountImage" src="/" alt="Account Image">
                <h1 class="h4 text-gray-900 mb-4"></h1>
              </div>
              <form class="user" method="POST" action="/auth/add-account" enctype="multipart/form-data">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <button type="button" class="btn-sm btn-primary btn-user btn-block" id="btn-getEmployee">Select
                      Employee</button>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inpt-firstName" class="col-sm-1 col-form-label">First Name</label>
                  <div class="col-sm-3 mb-3 mb-sm-0">
                    <input type="text" name="fName" class="form-control form-control-user" id="inpt-firstName"
                      placeholder="First Name" value="<%= oldInput().fName %>" readonly>
                  </div>
                  <label for="inpt-middleName" class="col-sm-1 col-form-label">Middle Name</label>
                  <div class="col-sm-3">
                    <input type="text" name="mName" class="form-control form-control-user" id="inpt-middleName"
                      placeholder="Middle Name" value="<%= oldInput().mName %>" readonly>
                  </div>
                  <label for="inpt-lastName" class="col-sm-1 col-form-label">Last Name</label>
                  <div class="col-sm-3">
                    <input type="text" name="lName" class="form-control form-control-user" id="inpt-lastName"
                      placeholder="Last Name" value="<%= oldInput().lName %>" readonly>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <input type="text" name="employeeNo"
                      class="form-control <%= validationErrors().find(e => e.param === 'employeeNo') ? 'is-invalid' : '' %> form-control-user"
                      id="inpt-employeeNo" value="<%= oldInput().employeeNo %>" placeholder="Employee #" readonly>
                    <% if (validationErrors().find(e => e.param === "employeeNo")) { %>
                    <div class="invalid-feedback">
                      <% const result = validationErrors().find(e => {
                        return e.param === "employeeNo"
                      }) %>
                      <%= result.msg %>
                    </div>
                    <% } %>
                  </div>
                  <label for="sel-joPriority" class="col-sm-1 col-form-label">Position</label>
                  <div class="col-sm-3">
                    <input type="text" name="position" class="form-control form-control-user" id="inpt-position"
                      placeholder="Position" value="<%= oldInput().position %>" readonly>
                  </div>
                  <div class="col-sm-4">
                    <select class="form-control" name="userGroup" id="sel-userGroup">
                      <!-- NOTICE: Restore HTML Select values after validation -->
                      <% for (let userGroup of userGroupList) { %>
                      <% if (userGroupList.find(e => parseInt(oldInput().userGroup) == userGroup.UserGroupID)) { %>
                      <option value="<%= userGroup.UserGroupID %>" selected><%= userGroup.UserGroupName %></option>
                      <% } else { %>
                      <option value="<%= userGroup.UserGroupID %>"><%= userGroup.UserGroupName %></option>
                      <% } %>
                      <% } %>
                    </select>
                  </div>
                </div>
                <!-- <input type="hidden" name="userGroup" value="3"> -->
                <input type="hidden" name="prevImage" value="">
                <input type="hidden" name="mode" value="Create">
                <input type="hidden" name="accountStatus" value="1">
                <input type="hidden" value="<%= oldInput().company %>" name="companyId" id="inph-company">
                <input type="hidden" value="<%= oldInput().department %>" name="departmentId" id="inph-department">
                <input type="hidden" value="<%= oldInput().section %>" name="sectionId" id="inph-section">
                <input type="hidden" name="submittedFrom" value="<%= submittedFrom %>">

                <div class="form-group">
                  <div class="col-sm-12">
                    <div class="custom-file">
                      <input type="file" id="inpf-accountImage" multiple class="form-control-file"
                        name="file-accountImage" />
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <input type="text"
                      class="form-control <%= validationErrors().find(e => e.param === 'companyName') ? 'is-invalid' : '' %> form-control-user"
                      id="inpt-company" name="companyName" value="<%= oldInput().companyName %>" placeholder="Company"
                      readonly>
                  </div>
                  <div class="col-sm-4">
                    <input type="text"
                      class="form-control <%= validationErrors().find(e => e.param === 'departmentName') ? 'is-invalid' : '' %> form-control-user"
                      id="inpt-department" name="departmentName" value="<%= oldInput().departmentName %>"
                      placeholder="Department" readonly>
                  </div>
                  <div class="col-sm-4">
                    <input type="text"
                      class="form-control <%= validationErrors().find(e => e.param === 'sectionName') ? 'is-invalid' : '' %> form-control-user"
                      id="inpt-section" name="sectionName" value="<%= oldInput().sectionName %>" placeholder="Section"
                      readonly>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="sel-joPriority" class="col-sm-1 col-form-label">Email</label>
                  <div class="col-sm-5">
                    <input type="email" name="email"
                      class="form-control <%= validationErrors().find(e => e.param === 'email') ? 'is-invalid' : '' %> form-control-user"
                      id="exampleLastName" placeholder="Email Address" value="<%= oldInput().email %>">
                    <% if (validationErrors().find(e => e.param === "email")) { %>
                    <div class="invalid-feedback">
                      <% const result = validationErrors().find(e => {
                        return e.param === "email"
                      }) %>
                      <%= result.msg %>
                    </div>
                    <% } %>
                  </div>
                  <label for="sel-joPriority" class="col-sm-1 col-form-label">Username</label>
                  <div class="col-sm-5">
                    <input type="text" name="username"
                      class="form-control <%= validationErrors().find(e => e.param === 'username') ? 'is-invalid' : '' %> form-control-user"
                      id="exampleInputEmail" placeholder="Username" value="<%= oldInput().username %>">
                    <% if (validationErrors().find(e => e.param === "username")) { %>
                    <div class="invalid-feedback">
                      <% const result = validationErrors().find(e => {
                          return e.param === "username"
                        }) %>
                      <%= result.msg %>
                    </div>
                    <% } %>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="sel-joPriority" class="col-sm-2 col-form-label">Password</label>
                  <div class="col-sm-10">
                    <input type="password" name="password"
                      class="form-control <%= validationErrors().find(e => e.param === 'password') ? 'is-invalid' : '' %> form-control-user"
                      id="exampleInputPassword" placeholder="Password" value="<%= oldInput().password %>">
                    <% if (validationErrors().find(e => e.param === "password")) { %>
                    <div class="invalid-feedback">
                      <% const result = validationErrors().find(e => {
                          return e.param === "password"
                        }) %>
                      <%= result.msg %>
                    </div>
                    <% } %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <textarea name="accountDescription" class="form-control"
                      id=""><%= oldInput().accountDescription %></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6">
                    <button class="btn btn-primary btn-user btn-block" id="btn-searchApprover" type="button">
                      Search Approver
                    </button>
                  </div>
                  <div class="col-sm-6">
                    <select name="assignedApprover"
                      class="form-control <%= validationErrors().find(e => e.param === 'assignedApprover') ? 'is-invalid' : '' %>"
                      id="sel-approver">
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="category">
                    <span class="mr-3">Job Categories</span>
                    <!-- NOTICE: Submit array in form submission-->
                    <% for (category of categoryList) { %>
                    <% if (category.CategoryName == 'MISCELLANEOUS') { %>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input category-item"
                        name="assignedCategory[<%= category.CategoryName %>]" type="checkbox" value="1">
                      <label class="form-check-label" for="inlineCheckbox1"><%= category.CategoryName %></label>
                    </div>
                    <% } else { %>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input category-item"
                        name="assignedCategory[<%= category.CategoryName %>]" type="checkbox" value="1">
                      <label class="form-check-label" for="inlineCheckbox1"><%= category.CategoryName %></label>
                    </div>
                    <% } %>
                    <% } %>
                  </div>
                </div>
                <%= removeErrorMessages() %>
                <button class="btn-sm btn-primary btn-user btn-block" id="btn-submit-account" type="submit">
                  Add Account
                </button>
                <button class="btn-sm btn-danger btn-user btn-block" id="btn-goBack" type="button">
                  Go Back
                </button>
              </form>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Core JavaScript Files -->
  <%- include('../includes/main-js.ejs') %>
  <%- include('./modal-employee-list.ejs') %>

  <!-- Page Level Plugins -->
  <script src="../vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="../vendor/datatables/dataTables.responsive.min.js"></script>

  <!-- Custom JavaScript Files -->
  <!-- Production -->
  <script src="/js/custom/misc.bundle.js"></script>
  <script src="/js/custom/auth/add-account.bundle.js"></script>

  <!-- Development -->
  <!-- <script type="module" src="/js/custom/misc.js"></script>
  <script type="module" src="/js/custom/auth/add-account.js"></script> -->

</body>

</html>