<div class="modal fade" id="modal-resetPassword-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form method="POST" action="/auth/reset-password" novalidate>
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">
                        Reset Password
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="form-group row">
                            <label for="inpt-username" class="col-sm-3 col-form-label">Username</label>
                            <div class="col-sm-9">
                                <input type="text" name="username"
                                    class="form-control <%= validationErrors().find(e => e.param === 'username') ? 'is-invalid' : '' %>"
                                    id="inpt-username">
                                <% if (validationErrors().find(e => e.param === "username")) { %>
                                <div class="invalid-feedback">
                                    <% const result = validationErrors().find(e => {
                                          return e.param === "username"
                                        }) %>
                                    <%= result.msg %>
                                </div>
                                <% } %>
                            </div>
                        </div>
                        <div class="form-group row">
                            <input type="hidden" name="personnelId" id="inph-personnelId">
                            <label for="inpt-password" class="col-sm-3 col-form-label">Password</label>
                            <div class="col-sm-9">
                                <input type="password" name="password"
                                    class="form-control <%= validationErrors().find(e => e.param === 'password') ? 'is-invalid' : '' %>"
                                    id="inpt-password">
                                <% if (validationErrors().find(e => e.param === "password")) { %>
                                <div class="invalid-feedback">
                                    <% const result = validationErrors().find(e => {
                                          return e.param === "password"
                                        }) %>
                                    <%= result.msg %>
                                </div>
                                <% } %>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inpt-confirmPassword" class="col-sm-3 col-form-label">Confirm Password</label>
                            <div class="col-sm-9">
                                <input type="password" name="confirmPassword"
                                    class="form-control <%= validationErrors().find(e => e.param === 'confirmPassword') ? 'is-invalid' : '' %>"
                                    id="inpt-confirmPassword">
                                <% if (validationErrors().find(e => e.param === "confirmPassword")) { %>
                                <div class="invalid-feedback">
                                    <% const result = validationErrors().find(e => {
                                          return e.param === "confirmPassword"
                                        }) %>
                                    <%= result.msg %>
                                </div>
                                <% } %>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <button type="submit" id="btn-submit-otherItem"
                                    class="btn-small btn-success form-control">Reset Password
                                    </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>