<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="../css/custom/modal-email.css">
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <%- include('../includes/sidebar.ejs') %>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <%- include('../includes/topbar.ejs') %>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid" id="index">

          <div class="form-group row">
            <div class="col-sm-3">
              <select type="text" id="sel-year-filter" class="form-control">
                <% for (let year of yearList) {%>
                <option value="<%= year.YearRequested %>"><%= year.YearRequested %></option>
                <% } %>
              </select>
            </div>
            <div class="col-sm-3">
              <button type="button" class="btn-small btn-primary form-control text-center"
                id="btn-generateCharts">Generate
                Report</button>
            </div>
          </div>
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4 my-2">
            <h1 class="h3 mb-0 text-gray-800">Overview</h1>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Job Orders (Yearly)</div>
                      <div id="yearly-all-jos" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Served Job Orders</div>
                      <div id="yearly-served-jos" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Pending Job Orders</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div id="yearly-pending-jos" class="h5 mb-0 mr-3 font-weight-bold text-gray-800"></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Total Job Reviews</div>
                      <div id="yearly-total-reviews" class="h5 mb-0 font-weight-bold text-gray-800">100</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->
          <div id="reportPage"> <!-- BEGINNING DIV ID = reportpage -->
          <div class="row">
            <div class="col-xl-12 col-lg-11">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Job Requests</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Job Orders</h6>
                </div>
                <!-- Card Body -->
                <div class="mt-4 text-center small">
                  <span class="mr-2">
                    <i class="fas fa-circle text-success"></i> Served
                  </span>
                  <span class="mr-2">
                    <i class="fas fa-circle text-info"></i> Pending
                  </span>
                  <span class="mr-2">
                    <i class="fas fa-circle text-warning"></i> Returned
                  </span>
                  <span class="mr-2">
                    <i class="fas fa-circle text-danger"></i> Cancelled
                  </span>
                  <span class="mr-2">
                    <i class="fas fa-circle text-secondary"></i> Submitted
                  </span>
                  <span class="mr-2">
                    <i class="fas fa-circle text-primary"></i> Total
                  </span>
                </div>
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="myBarChart"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pie Chart -->
            <!-- Content Row -->
            <div class="row">
              <div class="col-xl-12 col-lg-7">
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Job Reviews</h6>
                  </div>
                  <!-- Card Body -->
                  <div class="mt-4 text-center small">
                    <span class="mr-2">
                      <i class="fas fa-circle text-success"></i> Excellent
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle text-primary"></i> Good
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle text-secondary"></i> Average
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle text-warning"></i> Bad
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle text-danger"></i> Terrible
                    </span>
                  </div>
                  <div class="card-body">
                    <div class="chart-area">
                      <canvas id="myPieChart"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 mb-4">
                <!-- Approach -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">About JOS Web</h6>
                  </div>
                  <div class="card-body">
                    <p><strong>Job Order System - Web</strong> is an online web application developed by the ISS Section of Alsons
                      Aquaculture. This system is used for the easy assignment of Job Requests and for the management of 
                      Job Orders.</p>
                  </div>
                </div>

              </div>
            </div>
          </div> <!-- Ending DIV ID = reportpage -->

          </div>
          <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <%- include('../includes/footer.ejs') %>

        <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
    <%- include('../includes/main-js.ejs') %>
    <!-- Logout Modal-->
    <%- include('../includes/modal-logout.ejs') %>


    <!-- Core JavaScript Files -->
    <!-- Page level plugins -->
    <script src="../vendor/chart.js/Chart.min.js"></script>
    <script src="../vendor/chart.js/chartjs-plugin-labels.min.js"></script>
    <script src="../vendor/jsPDF/jspdf.debug.min.js"></script>

    <!-- Page level custom scripts -->
    
    <!-- Custom JavaScript -->
    <!-- Production -->
    <!-- <script src="../js/custom/stats/charts.bundle.js"></script>
    <script src="../js/custom/stats/overview.bundle.js"></script> -->
    
    <!-- Development -->
    <script type="module" src="../js/custom/stats/charts.js"></script>
    <script type="module" src="../js/custom/stats/overview.js"></script>
</body>

</html>